<?xml version="1.0" encoding="utf-8"?>

   <plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

           xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

       <label lang="en">Future Order Delivery</label>

       <version>1.0.1</version>

       <copyright>(c) by shopware AG</copyright>

       <license>MIT</license>

       <link>https://store.shopware.com/en</link>

       <author></author>

       <compatibility minVersion="5.5.0"/>


        <changelog version="0.0.1">
            <changes lang="de">Original release</changes>
            <changes lang="en">Original release</changes>
        </changelog>
        
        <changelog version="1.0.1">
            <changes lang="de">Invoice fix</changes>
            <changes lang="en">Invoice fix</changes>
        </changelog>



   </plugin>